* {
  font-family: 'Noto Sans Mono';
  font-size: 20px;
  text-align: center;

}

.info-container {
  width: 100%;
  height: 200px;
  background-color: white;
  color: black;
  margin-bottom: 100vh;
  font-family: 'Noto Sans Mono';
  font-size: 15px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Noto Sans Mono';
  font-size: 15px;
}

@media only screen and (max-width: 960px) {
  .info-container {
    height: 200px;
    width: 100%;
  }

  .info>h5 {
    text-align: center;
    font-size: 10px;
  }
}