.about-container {
  text-align: center;
  font-family: 'Noto Sans Mono';

  background-color: white;
  color: black;
  height: 40vh;
  padding: 100px 0 100px 0;
}



.about-desc>h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
}

.about-desc>p {
  line-height: 1.5;
}

.about-img {
  width: 20px;


}

@media only screen and (max-width: 960px) {
  .about-container {
    flex-direction: column;
    padding: 0;
    height: auto;
  }

  .about-desc {
    width: 90%;
    margin: 0 auto;
    padding: 40px 20px 50px 20px;
  }

  .about-desc>h3 {
    font-size: 20px;
    text-align: center;
  }



}